
body{background-color: greenyellow;}

body *{
    display: inline-block;
    position: relative;
}
body > script{display:none}

#temp{
    border: 10px solid;
    display: none;
}

.card{
    background-color: green;
    height: 15rem;
    width: 10rem;
    background-image: url(mine.svg);
    background-size: 1300% 400%;
}













button { 
    background-color:blue; 
    color:white ;
    hair:"awesome!"
}

.frame{
    height: 500px;
    width: 400px;
    display:inline-block;
    position: relative;
    border:10px solid black;
}

.cat{
    background-color: grey;
    border-radius: 50%;
    height:100px;
    width:100px;
}

.cat .eye{
    border-radius: 50%;
    height: 20px;
    width:25px;
    background-color: lightgreen;
    border:2px solid black;
}

.donut{
    border-radius: 50%;
    height: 80px;
    width:80px;
    background-color: burlywood;
}