body{background-color: pink;}

body *{
    display: inline-block; 
    position: relative; 
}

body > script{display: none}

.card {
    width: 10rem; 
    height:15rem;
    background-color: green;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/5/55/Atlasnye_playing_cards_deck.svg);
    background-size: 1300% 400%;
    background-position: 1300% 400%;
}